.blink-me {
  animation: blinker 2s linear infinite;
}

#g-recaptcha {
  position: relative;
  z-index: 1000;
}

@keyframes blinker {
  0% { opacity: 0; }
  40% { opacity: 1; }
}

.login-wrapper {
	background: url('https://cdn.jsdelivr.net/gh/vorexfaiq/mpob-ereg-assets/img/bg-sawit.min.webp');
	background-size: cover;
	padding-top: 50px;
	height: auto;
	min-height: 100vh;
}

.title {
	white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(100% - 40px);
  float: left;
  font-weight: 700;
}

.dark-grey {
	color: #333;
}

.subtitle {
	font-size: 16px;
	line-height: 25px;
	font-weight: 400;
	color: #5c5c5c;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
}

.content {
	color: #5c5c5c;
}

.footer {
	padding: 20px;
}

.footer p {
	color: white;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
}

.footer .content {
	background-color: #333333;
}

.head {
	background: #ffc107;
	padding: 5px 20px;
	border-radius: 10px 10px 0 0;
}

.carousel-inner {
	height: 307px;
	padding: 0;
	overflow-y: scroll;
	width: 600px;
	margin: 0px auto;
}

.carousel {
	height: 400px;
	background: #f3f3f3;
	border: 5px solid #d9d9d9;
	padding: 30px 0
}

.carousel-control-next,
.carousel-control-prev {
	width: 5%;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #ebebeb inset !important;
}
/*
.form-group label:not(.error),
thead label:not(.error) {
	font-size: 15px;
}
*/

.logo {
  width: 100%;
  object-fit: cover;
}

.form-group .input-group-text {
  font-size: 1.5em;
  padding: 5px 14px;
  display: block;
  min-width: 50px;
  text-align: center;
}

#form-login .form-control {
  padding: 20px 12px;
  font-size: 2em;
}

#form-register .form-control {
  height: 29px;
  min-height: auto;
}

.table tbody tr td {
	border: 1px solid rgba(225, 225, 225, 0.7);
}

.table-header {
	background-color: #dedede !important;
}

.green-section {
	background-color: #07a18e;
	background-image: url('https://cdn.jsdelivr.net/gh/vorexfaiq/mpob-ereg-assets/img/bg-login.min.webp');
	background-size: cover;
}

.green-section > div {
    width: 100%;
    z-index: 100;
    position: relative;
		padding: 10px 20px 30px;
}

.green-section h2.text-white {
	  font-size: 27px;
}

.green-section:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: 10;
    position: absolute;
    background-color: rgba(0,0,0,0.25);
}

ul li {
	list-style: none;
	padding-left: 0px;
	margin-left: -5px;
}

ul li .title:before {
    font-family: 'FontAwesome';
    content: '\f054';
    margin-right: 10px;
    color: #fff;
}

ul {
	padding-left: 20px;
}

.modal .modal-header {
	padding: 10px 25px 10px 25px;
	background: #00b09b;
	margin-bottom: 20px;
}

.modal-header h5 {
	color: white;
	font-weight: 700;
	margin:0px auto;
}

.modal .modal-dialog {
	width: 800px;
}

.modal-dialog {
	max-width: 800px;
}

#announcement-list li {
	border-top: 1px solid #a2a2a2;
	display: block;
	overflow: hidden;
	padding: 20px 0;
  position: relative;
}

.is-new:after {
  content: "NEW";
  animation: blinker 2s linear infinite;
  text-shadow: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  background-color: #e1e1e1;
  font-size: 11px;
  padding: 0px 5px;
  color: #575757;
  border-radius: 10px;
  position: absolute;
  top: 17px;
  right: 0;
}

#announcement-list p {
	float: left;
}

#announcement-list button,
.btn-warning-dark {
	float: right;
	margin-top: 0;
	font-weight: 700;
	color: #424242;
	background-color: #eeb400;
}

#dynatable-pagination-links-announcement-list {
	text-align: center;
  margin: 0px auto;
}

#dynatable-pagination-links-announcement-list > li:first-child {
	display: none;
}

#dynatable-pagination-links-announcement-list > li {
	background-color: #f9f9fa;
  font-size: 14px;
  display: inline-block;
  color: #747474;
  border: 1px solid #d6d6d6;
	cursor: pointer;
}

#dynatable-pagination-links-announcement-list > li > a {
	display: block;
  padding: 5px 18px 5px 15px;
}

#dynatable-pagination-links-announcement-list > li:hover {
	color: #eeb400;
	font-weight: 700;
}

#dynatable-pagination-links-announcement-list > li.dynatable-disabled-page {
	color: #747474;
	font-weight: 400;
	cursor: default;
}

#dynatable-pagination-links-announcement-list > li.dynatable-active-page {
	background-color: #eeb400;
	font-weight: 700;
	color: #fff;
	cursor: default;
}

#dynatable-processing-announcement-list span {
	font-size: 15px;
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.8);
}

.is_loading:before {
  margin-right: 5px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f110";
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.pw-feedback .error-list > li:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00d";
  color: #d52929;
  margin-right: 5px;
}

@media only screen and (max-width: 991px) {
  /* Force table to not be like tables anymore */
  .table-contact table,
  .table-contact thead,
  .table-contact tbody,
  .table-contact th,
  .table-contact td,
  .table-contact tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .table-contact thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-contact tr { border: 1px solid #ccc; }

  .table-contact td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    white-space: normal;
    text-align: left;
    padding: 5px 5px 5px 12px !important;
  }

  .table-contact td:first-child {
    background-color: #ddd;
    text-align: left;
    padding-left: 0px !important;
  }

  .table-contact td:before {
    content: attr(data-title);

    display: inline-block;
    position: relative;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }

  .btn-same-address {
    font-size: 10px;
  }
}

@media only screen and (max-width:480px){
  #form-login .form-control {
    font-size: 1.5em;
  }
}
