/*
 * Plugin: Web Slide Navigation System
 * Demo Link: https://uxwing.com/webslide/
 * Author: UXWing
 * License: http://codecanyon.net/licenses/standard
*/

/* ======== Find Below Table of Content Points to Go Relevant Section  =========
[Table of contents DESKTOP]
Desktop Base CSS
Desktop Main Menu CSS
Desktop Drop Down Menu CSS
Desktop Mega Menus CSS
-> Desktop Half Menu CSS
-> Desktop HTML Form Menu CSS
Desktop Extra CSS

[Table of contents MOBILE ]
Mobile Menu Change Brake Point
Mobile Header CSS
Mobile Main Menu CSS
Mobile Slide Down Links CSS
Mobile Mega Menus CSS
Mobile Overlay/Drawer CSS
Mobile Sub Menu Expander Arrows
Mobile Extra CSS
===============================================================================*/

/* ================== Desktop Base CSS  ================== */

.wsmenu html, .wsmenu body, .wsmenu iframe, .wsmenu h1, .wsmenu h2, .wsmenu h3, .wsmenu h4, .wsmenu h5, .wsmenu h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: antialiased;
  font-smooth: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  font-smooth: subpixel-antialiased;
}

.wsmenu .cl {
  clear: both;
}

.wsmenu img, object, embed, video {
  border: 0 none;
  max-width: 100%;
}

.wsmenu a:focus {
  outline: none;
}

.wsmenu:before, .wsmenu:after {
  content: "";
  display: table;
}

.wsmenu:after {
  clear: both;
}

/* ================== Desktop Main Menu CSS ================== */

/*Label None*/

.wsdown-menuopner {
  display: none;
}

.wsdownopener {
  display: none;
}

.wsdexpander {
  opacity: 0;
  filter:alpha(opacity=0);
  width:0;
  height:0;
  overflow: hidden;
  position: absolute;
  z-index:0;
  left:-10px;
  top: -10px;
}

/*Label None*/

.wsmenu>.wsmenu-list>li>a,
.wsmenu>.wsmenu-list>li>label {
  display: block;
  padding: 4px 0px;
  line-height: 16px;
  text-decoration: none;
  position: relative;
}

/* ================== Desktop Mega Menus CSS  ================== */

.wsmenu>.wsmenu-list>li>.wsmegamenu {
  display: inline-block;
  left: 0px;
  position: absolute;
  top: 45px;
  color: #000;
  z-index: 1000;
  margin: 0px;
  text-align: left;
  font-size: 15px;
  background-color: #fff;
  width: 98.7vw;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .row {
  overflow: hidden;
  flex-wrap: nowrap;
  margin:0;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .title {
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  padding: 13px 29px !important;
  font-size: 15px;
  font-weight: 700;
  background-color: #ff983c;
  color: #fff;
  margin: 0px 0px 14px 0px;
  text-align: left;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .card {
  padding: 10px 20px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .card-title {
  margin: 0 0 10px 0;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .card h3 {
  font-size: 31px;
  float: right;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .wsmwnutxt {
  width: 100%;
  font-size: 14px;
  text-align: justify;
  line-height: 22px;
  color: #424242;
  margin-top: 10px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu ul {
  max-width: unset;
  display: inline-block;
  padding: 0 0 10px 0;
  margin: 0;
  border-left: 1px solid #ecebeb;
  text-align: center;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu ul.link-list {
  flex-grow: 1;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li:first-child {
  max-width: unset;
  margin: 0;
  display: block;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li {
  display: inline-block;
  text-align: center;
  max-width: 165px;
  vertical-align: top;
  padding: 15px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li a {
  line-height: 16px;
  border-right: none;
  text-align: center;
  padding: 6px 0px;
  background: #fff;
  background-image: none;
  border-right: 0 none;
  display: block;
  color: #6d6d6d;
  font-size: 13px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu li .fa {
  margin-right: 5px;
  text-align: center;
  width: 18px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu li a:hover {
  background: transparent;
  text-decoration: underline;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li .fa {
  font-size: 11px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu li .fa {
  margin-right: 5px;
  text-align: center;
  width: 18px;
}

.wsmenu>.wsmenu-list>li>.wsmegamenu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}

.wsmenu>.wsmenu-list>li>input[type=radio]:focus + .wsmegamenu {
  opacity: 1;
  visibility: visible;
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li a {
    text-align: left;
    background: inherit;
}
.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li {
    display: flex;
    text-align: left;
    max-width: 100%;
    padding: 0px 40px 5px 45px;
}
.wsmenu>.wsmenu-list>li>.wsmegamenu li .fa {
    margin-right: 0;
    margin-left: -20px;
}
.wsmenu>.wsmenu-list>li>.wsmegamenu .link-list li:first-child {
    margin-bottom: 10px;
}
.wsmenu>.wsmenu-list>li>.wsmegamenu .title {
    background-color: #2a3850;
}
.wsmenu>.wsmenu-list>li>.wsmegamenu .title {
    padding: 10px 30px !important;
}
.wsmenu>.wsmenu-list>li>.wsmegamenu {
    background-color: #dfdfdf;
}


/*==============================================================================
                              Start Mobile CSS
===============================================================================*/

/* ================== Mobile Menu Change Brake Point ================== */

@media only screen and (max-width: 991px) {
  /* Show Menu in Mobile */
  .wsdownopener-sub {
    display: block;
  }
  /*Main UL*/
  .wsmenu>input[type=checkbox]:checked+.wsmenu-list {
    display: flex;
    width: 100vw;
  }
  /*Mega Menu*/
  .wsdownopener {
    display: block;
    color: #FFF;
    font-size: 25px;
    line-height: 48px;
    text-decoration: none;
    border: none;
    padding: 0px 12px;
    margin: 0;
    text-align: center;
  }
  .wsdownopener-sub {
    width: 100%;
    position: absolute;
    z-index: 1000;
    height: 50px;
    background-color: transparent;
    text-decoration: none;
    border: none;
  }
  /* ================== Mobile Main Menu CSS ================== */
  .wsmenu {
    padding: 0px 0px 0px 0px;
    color: #fff;
    background-color: #32415A;
    position: relative;
  }
  .wsmenu>.wsmenu-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: none;
    width: 100%;
    display: none;
    position: absolute;
  }
  .wsmenu>.wsmenu-list>li {
    width: 100%;
    display: block;
    float: none;
    border-right: none;
    background-color: transparent;
    white-space: inherit;
  }
  .wsmenu>.wsmenu-list>li>a {
    padding: 12px 17px 12px 17px;
    font-size: 14px;
    text-align: left;
    border-right: solid 0px;
    background-color: transparent;
    color: #666666;
    line-height: 25px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.13);
    position: static;
  }
  .wsmenu>.wsmenu-list>li>a>.fa {
    font-size: 16px;
    color: #bfbfbf;
  }
  .wsmenu>.wsmenu-list>li>.wsmegamenu .row {
    flex-wrap: wrap;
  }
  /*End Media Query*/
}

@media only screen and (min-width: 992px) and (max-width:1091px) {

  div.wsmegamenu svg.icon {
    display: block;
    margin: 0 auto 7px;
    width: 90px;
    height: 90px
  }
}
